body {
  background-color: rgb(0, 0, 35);
  
  
  color: yellow;
}

/* .temperatureInformation {
  margin-left: 50px;
  margin-top: 50px;
} */

/* Add these styles to your CSS file */
#weatherTitle {
  font-size: 2em;
  color: #ff7e7e; /* You can customize the color */
  margin-bottom: 200px; /* Add margin-bottom to create space below the title */
   /* Add this line to set top margin to 0 */
  text-align: center;
  margin-top: -150px;

}

.temperatureInformation {
  margin-top: 20px;
}

.temperatureInformation p {
  font-size: 1.2em;
  margin: 10px 0;
}

/* You can add more styles based on your design preferences */


.input-container {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.inputContainer {
  align-items: center;
  margin-left: 30px;
  margin-top: 100px;
  display: flex;
}
.dataDisplay {
 
 margin-top: 100px;
 margin-left: 30px;
}

#inputFood, #cityName{
  border-bottom: 3px solid rgb(255, 255, 255) !important;
  color: rgb(0, 208, 255);
  font-size: large;
  font-weight: 400;
}

#my-title-food, #my-city-name{
  font-size: medium;
  color: rgb(255, 177, 190);
  font-weight: bold;
  font-size: small;
}



#menu-book-icon {
  color: rgb(255, 150, 110);
  font-size: 45px;
  margin-left: 45px; 
  margin-bottom: -59px;
}

@keyframes colorChange {
  0% {
    
    color: turquoise;
  }
  50% {
    color: pink;
  }
  100% {
    color: turquoise;
  }
}

.headerStyle {
  text-align: center;
  margin-top: 40vh;
  transform: translateY(-40%); 
}

.ui.header {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: turquoise;
  font-size: 75px !important; 
  text-shadow: rgb(60, 134, 207) 4px 0 10px;
  animation: colorChange 4s ease-in-out infinite;
}

.ui.pointing.menu {
  height: 60px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a73e6d; 
}

.ui.pointing.menu a {
  color: #ffffff; 
}

.ui.pointing.menu a:hover {
  color: rgb(249, 255, 82);
}

.right.menu {
  display: flex;
  align-items: center;

}

#foodImage {
  width: 200px;
  height: 200px;
}


#tableIngredients {
  width: 100%; 
  margin-top: 20px; 
  border-collapse: collapse; 
}

#tableIngredients th, #tableIngredients td {
  padding: 12px; 
  border: 1px solid #ddd;
  text-align: left; 
}

#tableIngredients th {
  background-color: #8fd1ca; /* Set background color for table header */
}

#my-helper-text {
  color: lightseagreen;
}

.iconsFindRecipe {
  color:rgb(95, 255, 106);
  
}















