body {
  background-color: rgb(0, 0, 35);
  
  
  color: yellow;
}

.input-container {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.dataDisplay {
 
 margin-top: 100px;
 margin-left: 30px;
 
 
}

#inputFood {
  border-bottom: 3px solid rgb(255, 255, 255) !important;
  color: rgb(0, 208, 255);
  font-size: large;
  font-weight: 400;
}

#my-title-food {
  font-size: medium;
  color: rgb(255, 177, 190);
  font-weight: bold;
  font-size: small;
}

#menu-book-icon {
  color: rgb(255, 150, 110);
  font-size: 45px;
  margin-left: 45px; 
  margin-bottom: -59px;
}

@keyframes colorChange {
  0% {
    
    color: turquoise;
  }
  50% {
    color: pink;
  }
  100% {
    color: turquoise;
  }
}

.headerStyle {
  text-align: center;
  margin-top: 40vh;
  transform: translateY(-40%); 
}

.ui.header {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: turquoise;
  font-size: 75px !important; 
  text-shadow: rgb(60, 134, 207) 4px 0 10px;
  animation: colorChange 4s ease-in-out infinite;
}

.ui.pointing.menu {
  height: 60px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a73e6d; 
}

.ui.pointing.menu a {
  color: #ffffff; 
}

.ui.pointing.menu a:hover {
  color: rgb(249, 255, 82);
}

.right.menu {
  display: flex;
  align-items: center;

}

#foodImage {
  width: 200px;
  height: 200px;
}


#tableIngredients {
  width: 100%; 
  margin-top: 20px; 
  border-collapse: collapse; 
}

#tableIngredients th, #tableIngredients td {
  padding: 12px; 
  border: 1px solid #ddd;
  text-align: left; 
}

#tableIngredients th {
  background-color: #8fd1ca; /* Set background color for table header */
}

#my-helper-text {
  color: lightseagreen;
}

.iconsFindRecipe {
  color:rgb(95, 255, 106);
  
}















